<head>
    
</head>
<div id="sidebar">
    <div id="sidebar_container">
        {{#if username}}
        <div id="user_container" class="icon_container">
            <a href="/profile/{{username}}"><p id="nav_user" class="nav_icon"></p></a>
            <p class="nav_text">USER</p>

            <!--        <div id="user_container" class="icon_container"> -->
        </div>
        {{else}}
        <div id="user_container" class="icon_container">
            <a href="/profile"><p id="nav_user" class="nav_icon"></p></a>
            <p class="nav_text">USER</p>

            <!--        <div id="user_container" class="icon_container"> -->
        </div>
        {{/if}}
        
    
        <div id="nav_center">
            <div class="icon_container">
                <div id="nav_search" class="nav_icon"></div>
                <p class="nav_text">SEARCH</p>
            </div>

            <form id="search-sidebar-container" style="display: none;">
                <input class="search-bar" type="text" placeholder="Search..." > 
                
            </form>

            {{#if username}}
            <div class="icon_container">
                <a href="/home/{{username}}"><p class="nav_icon" id="nav_home"></p></a>
                <p class="nav_text">HOME</p>
            </div>
            {{else}}
            <div class="icon_container">
                <a href="/home"><p class="nav_icon" id="nav_home"></p></a>
                <p class="nav_text">HOME</p>
            </div>
            {{/if}}
            
            <div class="icon_container">
                <a href="/genre"> <p class="nav_icon" id="nav_genre"></p></a>
                <p class="nav_text">GENRE</p>
            </div>
    
            <div class="icon_container">
                <a href="/forum"><p id="nav_forum" class="nav_icon"></p></a>
                <p class="nav_text">FORUM</p>
            </div>

        {{#if guest}}
            <div class="icon_container">
                <a href="/logout"><p id="nav_login" class="nav_icon"></p></a>
                <p class="nav_text">LOGIN</p>
            </div>
        {{else}}
            <div class="icon_container">
                <a href="/logout"><p id="nav_logout" class="nav_icon"></p></a>
                <p class="nav_text">LOGOUT</p>
            </div>
        {{/if}}
            
        </div>
    
        <div id="create_container" class="icon_container">
            {{!-- <button type="button" class="collapsible"></button> --}} 
                <a href="/create"><p id="nav_create" class="nav_icon"></p></a>
                    <p class="nav_text">CREATE</p>
        </div>
    </div>  
</div>