<div class="top-bar">
      <p class="game-post">Game | {{Game}}<span><br>Posted by: <a href="{{profilelink}}">{{postuser}}</a>; On: {{postdate}}</span></p>
      <a class= "post-title-link" href= "{{postlink}}"><p id="post{{no}}" class="post-title">{{posttitle}}</p></a>
</div>