<div class="profile-box">
      {{#if userimg}}
      <img src="{{userimg}}" alt="Profile Picture">
      <a href="/profile/{{username}}" class="user-link"><span>{{username}}</span></a>
      {{else}}
      <img src="../images/default-profile.jpg" alt="Profile Picture">
      <a href="/profile/{{username}}" class="user-link"><span>{{username}}</span></a>
      {{/if}}
</div>